<p>user-feed works!</p>

<app-publication-card class="publication-shape"
profileName = "Shiba Inu"
profileImgSrc = "https://material.angular.io/assets/img/examples/shiba1.jpg"
publicationImgSrc = "https://material.angular.io/assets/img/examples/shiba2.jpg"
subtitle = "@Data Engineering"
text = "The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting."
(action) = "handlerForActionOnPublication($event, 1)"
></app-publication-card>
<br>
<app-comment-box 
class="publication-shape"
[comments] = "comments"
(moreComments) = "handlerForSeeMoreComments()"
(newComment) = "handlerForNewComments($event)"
>
</app-comment-box>
