<div class = "global-publication-container custom-container">
  <!-- Box to create publications -->
  <app-text-and-image-form
    class = "publication-form"
    textInputLabel = "Comparte algo con tus seguidores."
    textInputPlaceholder = "Dí lo que necesites."
    (newContent) = "newPublicationHandler($event)">
  </app-text-and-image-form>

  <app-publication-card
    *ngFor = ""
    [profileImgSrc] = ""
    [profileName] = ""
    [publicationImgSrc] = ""
    [text] = ""
    [subtitle] = ""
    [createdAt] = "">
  </app-publication-card>
</div>
