<h1 class="global-main-title">Usuarios</h1>
<div class="form-container">

  <form>
    <mat-form-field class="full-width">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput #message maxlength="256" placeholder="Algún nombre...">
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </form>

</div>

<div class="global-flex-centering-container custom-container global-container-bg-color global-shadow">
  <div class="sub-container">
    <app-element-card-box [data]="users"></app-element-card-box>
  </div>
</div>