<div class = "global-publication-container custom-container">
  <h1 class = "global-main-title">Publicaciones favoritas</h1>
  <!-- Publication list -->
  <app-publication-display
    class = "global-publication-card"
    *ngFor = "let p of publications"
    [publication] = "p"
    [activeButtons] = "['comment', 'share', 'favorite']"
    (favorite) = "favoriteEventHandler($event)"
    (comment) = "commentEventHandler($event)"
    (share) = "shareEventHandler($event)">
  </app-publication-display>
</div>
