.container {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.custom-container {
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
  margin: auto;
}

.custom-field {
  width: 100%;
}

.custom-sub-container {
  margin-bottom: 10px;
}

@media(max-width: 500px) {
  .custom-container {
    width: 100%;
  }
}