<section class="container">
  <app-element-card
    class="group-card"
    [card]="groupCard"
    [enableClickEvent]="true"
    (clickOverCard)="selectImageHandler(imageInput)">
  </app-element-card>
  <form [formGroup]="imageFormGroup" (submit)="applyHandler()">
    <input
      #imageInput
      formControlName="imageCtrl"
      style="display: none;"
      type="file"
      accept="image/*"
      (change)="imageChangeHandler($event)">
    <p
      *ngIf="groupImageSelected"
      class="global-text-center top-separation">
        {{cropImageIndication}}
    </p>
    <section
      *ngIf="groupImageSelected"
      class="cropper-container">
        <angular-cropper
          #angularCropper
          [imageUrl]="groupImageSelected"
          [cropperOptions]="cropperjsOptions">
        </angular-cropper>
        <section class="global-btn-right top-separation">
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="applyBtnDisabled">
              {{applyBtnLabel}}
          </button>
        </section>
    </section>
  </form>
</section>
