<div class="global-publication-container">
  <app-publication-card
    [postId] = "publication.id"
    [profileImgSrc] = "publication.profile_image_src"
    [profileName] = "publication.firstname + ' ' + publication.lastname"
    [publicationImgSrc] = "publication.img_src"
    [text] = "publication.content"
    [username] = "publication.username"
    [likeCounter] = "publication.like_counter"
    [createdAt] = "publication.created_at"
    [liked] = "publication.liked_by_user"
    [groupId] = "publication.group_id"
    [groupName] = "publication.group_name"

    [isSharedContent] = "pubFmt.isSharedContent(publication)"
    [subProfileImgSrc] = "pubFmt.getReferencedField(publication, 'profile_image_src')"
    [subProfileName] = "pubFmt.getReferencedField(publication, 'profile_name')"
    [subPublicationImgSrc] = "pubFmt.getReferencedField(publication, 'img_src')"
    [subText] = "pubFmt.getReferencedField(publication, 'content')"
    [subUsername] = "pubFmt.getReferencedField(publication, 'subtitle')"
    [subCreatedAt] = "pubFmt.getReferencedField(publication, 'created_at')"
    [subGroupId] = "pubFmt.getReferencedField(publication, 'group_id')"
    [subGroupName] = "pubFmt.getReferencedField(publication, 'group_name')"

    (favorite) = "favoriteEventHandler($event)"
    (share) = "shareEventHandler($event)"
    (comment) = "commentEventHandler($event)">
  </app-publication-card>

  <app-comment-box
    [comments] = "comments"
    [focusInput] = "focusInput"
    (moreComments) = "handlerForMoreComments($event)"
    (newComment) = "handerForNewComment($event)">
  </app-comment-box>
</div>
