.container {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

mat-icon {
  font-size: 142px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

<<<<<<< HEAD
.active {
  display: inline-block;
}

.inactive {
  display: none;
}

=======
.get-password {
  display: none;
}
>>>>>>> bc5ab5f4ac736d7745cc566a4864adfa635848ac
