/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-text-right {
  text-align: right;
}

.global-text-center {
  text-align: center;
}

.global-btn-right {
  text-align: right;
}

.global-btn-right button {
  margin: 5px;
}

.global-shadow {
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
}

.global-flex-centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.global-container-bg-color {
  background-color: rgb(230, 230, 230);
}

.global-main-title {
  display: block;
  width: 100%;
  text-align: center;
}

.global-card-element {
  width: 100%;
  height: 75%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.global-card-element-container {
  margin: 0 auto 50px auto;
  width: 70%;
  padding-bottom: 5%;
}

.global-publication-container {
  /*width: 500px;*/
  width: 35%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.global-publication-card {
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 540px) {
  .global-publication-container {
    width: 95%;
  }
}

@media (max-width: 1444px) and (min-width: 541px) {
  .global-publication-container {
    width: 500px;
  }
}


